/* Global Reset */
* {
    margin: 0;
}

/* Root Variables */
:root {
    /* Brand Colors */
    --primary-color: #3498db; /* Brand Blue */
    --primary-hover-color: #2980b9; /* Darker Blue for Hover */

    --secondary-color: #2ecc71; /* Brand Green */
    --secondary-hover-color: #27ae60; /* Darker Green */

    /* Alert Colors */
    --alert-color: #e74c3c;
    --alert-hover-color: #c0392b;
    --warning-color: #f8c555;

    /* Information Colors */
    --info-color: #f5f5f5;
    --info-hover-color: #fafafa;

    /* Text Colors */
    --primary-text-color: #333; /* Dark Text */
    --lighter-text-color: #999; /* Light Text */
    --secondary-text-darker-color: #eeeeee;
    --secondary-text-color: #fff; /* Light (White) Text */
    --primary-glow-color: #fff;
    --link-color: #3498db;

    /* Background Colors */
    --container-bg-color: #fff;
    --primary-bg-color: #eeeeee;
    --light-bg-color: #e6e6e6;
    --lighter-bg-color: #f5f5f5;

    /* Borders */
    --default-border: 1px solid #ccc;
    --lighter-border: 1px solid #f5f5f5;
    --light-border: 1px solid #e6e6e6;

    --padding-smaller: 0.5em;
    --padding-small: 1em;
    --padding-default: 2em;
    --padding-bigger: 4em;
    --padding-biggest: 8em;

    --profile-top-height: 300px;
    --container-width: 1000px;

    --border-radius-small: 0.125em;
    --border-radius-medium: 0.25em;
    --border-radius-large: 0.5em;

    --shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 6px 10px rgba(0, 0, 0, 0.15);
    --shadow-large: 0 8px 15px rgba(0, 0, 0, 0.2);

    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;

    --avatar-size-small: 2em;
    --avatar-size-medium-small: 3em;
    --avatar-size-medium: 4em;
    --avatar-size-large: 8em;
    --avatar-size-larger: 12em;
    --avatar-size-huge: 16em;

    --sidebar-max-width: 15em;
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}
